PORT=5000
MONGO_URI=mongodb+srv://<shardik2404_db_user>:<gDCTodfPzCwKyvn9>@cluster.mongodb.net/volkschem_qr
JWT_SECRET=6037d69113495230aa2cce286b07f0bb27dc4d50c211db72ac847fc15e6871f80d55f30cc0e3dfbdd54aa5ef718ef1a34bccfc891044fa8dccb02b6d5d97b983
CLOUDINARY_API_KEY=298714766823653
CLOUDINARY_SECRET=cpGr9SI18cbrGxEIGam0ESHrK6A
CLOUDINARY_CLOUD_NAME=dywmiyaxo
FRONTEND_BASE_URL=http://localhost:5173
ADMIN_EMAIL=admin@volkschem.com
ADMIN_PASSWORD=Admin@123
